.text-center{
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.my-footer{
  margin-top: 30px;
  width: auto;
}

p {
  margin: 0px;
  padding: 7px;
}
footer{
  background-color: #CCC9;
}
