h2, h6 {
  color: #007bff;
  font-family: 'Times New Roman', Times, serif;
}

.card-body, h1, h2 {
  text-align: center;
}

.card-header {
  background-color: white;
}

#statistics-components {
  width: 97%;
  margin: auto;
}

#chartdiv {
  width: 100%;
  height: 300px;
}

.row{
  margin-top: 70px;
}
