<div class="row">
  <div class="col-sm-6">
    <h2 class="mb-0">HOSTS</h2>
    <app-mac-ip></app-mac-ip>
  </div>
  <div class="col-sm-6">
    <div id="chartdiv"></div>
  </div>
</div>

<div id="statistics-components" xmlns="" xmlns="" xmlns="">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">PORTS</h2>
    </div>
    <div id="statistic-one">
      <div class="card-body">
        <app-ports></app-ports>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">DNS</h2>
    </div>
    <div id="statistic-two">
      <div class="card-body">
        <div class="container">
          <table class="table">
            <!-- ADD HEADERS -->
            <tr>
              <th>PORT</th>
              <th>PROTOCOL</th>
              <th>BYTE COUNT</th>
              <th>PERCENTAGE</th>
            </tr>
            <tr>
              <td>53</td>
              <td>UDP</td>
              <td>{{ DNSByteCount }}</td>
              <td>
                <div class="container">
                  <div class="progress">
                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar"
                         aria-valuenow="70" aria-valuemin="0"
                         aria-valuemax="100" id="dns-progress-bar"> {{DNSBytePercentage}}%
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">WEB</h2>
    </div>
    <div id="statistic-three">
      <div class="card-body">
        <div class="container">
          <table class="table">
            <!-- ADD HEADERS -->
            <tr>
              <th>PORTS</th>
              <th>PROTOCOL</th>
              <th>BYTE COUNT</th>
              <th>PERCENTAGE</th>
            </tr>
            <tr>
              <td>80</td>
              <td>TCP</td>
              <td>{{ HTTPByteCount1 }}</td>
              <td>
                <div class="container">
                  <div class="progress">
                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar"
                         aria-valuenow="70" aria-valuemin="0"
                         aria-valuemax="100" id="http-1-progress-bar"> {{HTTPBytePercentage1}}%
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>8080</td>
              <td>TCP</td>
              <td>{{ HTTPByteCount2 }}</td>
              <td>
                <div class="container">
                  <div class="progress">
                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar"
                         aria-valuenow="70" aria-valuemin="0"
                         aria-valuemax="100" id="http-2-progress-bar"> {{HTTPBytePercentage2}}%
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">OTHERS</h2>
    </div>
    <div id="statistic-four">
      <div class="card-body">
      </div>
    </div>
  </div>
</div>



