<div class="row">
  <div class="col-sm-6">
    <h2 class="mb-0">HOSTS</h2>
    <app-mac-ip></app-mac-ip>
  </div>
  <div class="col-sm-6">
    <div id="chartdiv"></div>
  </div>
</div>

<div id="statistics-components" xmlns="" xmlns="" xmlns="">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">PORTS</h2>
    </div>
    <div id="statistic-one">
      <div class="card-body">
        <app-ports></app-ports>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">DNS</h2>
    </div>
    <div id="statistic-two">
      <div class="card-body">
        <div class="container">
          <table class="table">
            <!-- ADD HEADERS -->
            <tr>
              <th>SOURCE</th>
              <th>DESTINATION</th>
              <th>BYTE COUNT</th>
              <th>PERCENTAGE</th>
            </tr>
            <tr>
              <td>{{DNSMacSource}}</td>
              <td>{{DNSMacDestination}}</td>
              <td>{{ DNSByteCount }}</td>
              <td>
                <div class="container">
                  <div class="progress">
                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar"
                         aria-valuenow="70" aria-valuemin="0"
                         aria-valuemax="100" id="dns-progress-bar"> {{DNSBytePercentage}}%
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">WEB</h2>
    </div>
    <div id="statistic-three">
      <div class="card-body">
        <div class="container">
          <table class="table">
            <!-- ADD HEADERS -->
            <tr>
              <th>SOURCE</th>
              <th>DESTINATION</th>
              <th>BYTE COUNT</th>
              <th>PERCENTAGE</th>
              <th>ACTION</th>
            </tr>
            <tr *ngFor="let element of HTTPTableElements">
              <td *ngIf="element.active">{{element.ipSource}}</td>
              <td *ngIf="element.active">{{element.ipDestination}}</td>
              <td *ngIf="element.active">{{element.bytes}}</td>
              <td *ngIf="element.active">
                <div class="container">
                  <div class="progress">
                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar"
                         aria-valuenow="70" aria-valuemin="0" [style.width]="element.percentage+'%'"
                         aria-valuemax="100"> {{element.percentage}}%
                    </div>
                  </div>
                </div>
              </td>
              <td *ngIf="element.active">
                <button type="button" class="btn btn-danger" (click)="block(element)">Block</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">OTHERS</h2>
    </div>
    <div id="statistic-four">
      <div class="card-body">
        <div class="container">
          <table class="table">
            <!-- ADD HEADERS -->
            <tr>
              <th>SOURCE</th>
              <th>DESTINATION</th>
              <th>BYTE COUNT</th>
              <th>IN PORT</th>
              <th>PERCENTAGE</th>
            </tr>
            <tr *ngFor="let element of OTHERTableElements">
              <td>{{element.macSource}}</td>
              <td>{{element.macDestination}}</td>
              <td>{{element.bytes}}</td>
              <td>{{element.inPort}}</td>
              <td>
                <div class="container">
                  <div class="progress">
                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar"
                         aria-valuenow="70" aria-valuemin="0" [style.width]="element.percentage+'%'"
                         aria-valuemax="100"> {{element.percentage}}%
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



