<div class="container">          
  <table *ngIf="data" class="table table-striped">
    <!-- ADD HEADERS -->
    <tr>
      <th>MAC ADDRESS</th>
      <th>IP ADDRESS</th>
      <th>DESTINY IP</th>
      <th>PORT</th>
      <th>BYTES/S</th>
    </tr>

    <!-- BIND ARRAY TO TABLE -->
    <tr *ngFor="let element of data">
      <td>{{element.mac}}</td>
      <td>{{element.ip}}</td>
      <td>{{element.destiny_ip}}</td>
      <td>{{element.port}}</td>
      <td>{{element.bytes}}</td>
    </tr>
  </table>
  <p *ngIf="!data">No available data</p>
</div>