h1, h6 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#ryu-logo{
  width: 70px;
}

#title{
  margin-top: 50px;
}



h6{
  margin-bottom: 50px;
}

.amcharts-chart-div:nth-child(2){
  display: none !important;
}
