<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <h6>
      <img width="70" alt="Ryu Logo" src="../favicon.ico"> 
      {{ subtitle }}</h6>
</div>

<div id="statistics-components">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">MAC-IP</h2>
    </div>
    <div id="statistic-one">
      <div class="card-body">
        <app-mac-ip></app-mac-ip>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">DNS</h2>
    </div>
    <div id="statistic-two">
      <div class="card-body">
        <app-dns></app-dns>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">WEB</h2>
    </div>
    <div id="statistic-three">
      <div class="card-body">
      </div>
    </div>
  </div>

  <div class="card">
      <div class="card-header">
        <h2 class="mb-0">ARP</h2>
      </div>
      <div id="statistic-four">
        <div class="card-body">
        </div>
      </div>
    </div>

    <div class="card">
        <div class="card-header">
          <h2 class="mb-0">DHCP</h2>
        </div>
        <div id="statistic-five">
          <div class="card-body">
          </div>
        </div>
      </div>
</div>