h1 {
    color: #3c5000;
    font-family: 'Times New Roman', Times, serif;
}

h6 {
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

#ryu-logo{
  width: 70px;
}

#title{
  margin-top: 50px;
}

h6{
  margin-bottom: 50px;
}
