/* You can add global styles to this file, and also import other style files */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff7fb;
}

tr {
  text-align: center;
}

body {
  background: #FDFDFD;
}

@media only screen and (max-width: 600px) {
  table, .btn {
    font-size: 12px;
  }
}
